*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: montserrat;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
*::selection{
    background-color: #e98099;
    color: white;
}
#main{
    background-color: #010101;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: #010101;
}
#nav{
    width: 100%;
    padding: 3vh 10vw;
    color: whitesmoke;
    display: Flex;
    justify-content: space-between;
    align-items: center;
}
#nav h3{
    color: #FF1D51;
    font-size: 2vw;
    text-transform: uppercase;
}
.links{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3vw;
}
.links a:hover{
    border-bottom:1.9px solid #FF1D51;
}
#left-div{
    /* background-color: red; */
    margin-top: 20vh;
    width: 30%;
    height: 40vh;
    margin-left: 10vw;
}
#dpf{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
#left-div img{
    height: 100%;
    width: 100%;
}
#right-div{
    /* background-color: blue; */
    margin-top: 20vh;
    width: 40%;
    height: 40vh;
    margin-left: 12vw;
}
#right-div h1{
    color: #ffffff;
    font-size: 3vw;
    margin-bottom: 1.9vh;
}
#right-div h2{
    color: #ffffff;
    font-size: 2vw;
    margin-bottom: 3vh;
    margin-top: 3px;
}
span{
    color:#FF1D51;
}
#right-div p{
    color: #ffffff;
    margin-top: 1.9vh;
    margin-bottom: 3vh;
}
#icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    /* background-color: blue; */
}
#icons a{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 5vh;
    padding: 0.3vh;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border: 1px solid #FF1D51;
    border-radius: 50%;
    transition: 0.3s ease;
    color:#FF1D51;
}
#icons a:hover{
    background-color: #FF1D51;
    color: white;
    border-color: white;
    box-shadow: #FF1D51;
}
.btn{
    margin-top: 3vh;
   background-color: transparent;
   border: 1px solid #FF1D51;
   border-radius: 100px;
   padding: 9px 20px;
  text-align: center;
  text-decoration: none;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn:hover{
    background-color: #FF1D51;
    color: white;
    border-color: white;
    box-shadow: #FF1D51;
}
.typing-text{
    color: #FF1D51;
}
#page2{
    height: 100vh;
    width: 100vw;
    background-color: #010101;
}
#img-cont{
    margin-top: 20vh;
    width: 22%;
    height: 60vh;
    margin-left: 10vw;
    /* background-color: red; */
}
#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 7vw;

}
#img-cont img{
    height: 100%;
    width: 100%;
}
#right-abt{
    /* background-color: blue; */
    margin-top: 20vh;
    width: 40%;
    height: 60vh;
    margin-left: 15vw;
}

#right-abt h1{
    color: #ffffff;
    font-size: 3vw;
    margin-bottom: 1.9vh;
}
#right-abt p{
    color: #ffffff;
    margin-top: 1.9vh;
    margin-bottom: 3vh;
}
.abt-links{
    color:#7C7C7B;
    display: flex;
    margin-bottom: 2vh;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50px;
}


.tab-contents ul li{
    list-style:none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
}

.dikho{
    color: #7C7C7B;
}
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}